% rebase('base.html')
<form method="POST" action="/dodaj-predmet/">

    % if napake:
        % for napaka in napake:
            {{napake[napaka]}}
        % end
    % end

    <div class="container">
        <label for="exampleInputEmail1" class="form-label">Ime</label>
        <div class="form-control">
            <input class="input" type="text" name="ime" placeholder="ime predmeta" value="{{polja.get('ime', '')}}">
        </div>
    </div>

    <div class="container">
        <div class="form-control">
            <button type="submit" class="btn btn-primary">
                Dodaj
            </button>
        </div>
        <div class="form-control">
            <button type="submit" class="btn btn-light" href="/">
                Prekliči
            </button>
        </div>
    </div>

</form>