% rebase('base.html')
<form method="POST">
    <div class="accordion">
        <label for="exampleFormControlInput1" class="form-label">Uporabniško ime</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="uporabniško ime">
        </div>

        % if uporabnisko_ime in napake:
        <p>
            <div class="alert alert-danger" role="alert">
            {{ napake["uporabnisko_ime"] }}
            </div>
        </p>
        % end
    </div>

    <div>
        <div class="accordion-item">
            <button type="submit" class="btn btn-primary">Registriraj se</button>
        </div>    
    </div>
</form>